<html lang="en">
<head>
  <meta charset="utf-8">

    <title>Dota2 Win Predictor</title>
    <meta name="description" content="Dota2 Win Predictor">
    <meta name="author" content="Ricahrd Bellamy">

</head>

<body>
    <h1>Dota2 Win Predictor Concept</h1>
    <p>This app will predict the winners of dota games for you!</p>
    <p>Please enter Heros for each team below!</p>

    <div>
        <!-- These have id's so that later we can pull out data using js. -->
        <!-- Team A -->
        <span>Team A - Hero 1:</span> <input id="a1"></input>
        <span>Team A - Hero 2:</span> <input id="a2"></input>
        <span>Team A - Hero 3:</span> <input id="a3"></input>
        <span>Team A - Hero 4:</span> <input id="a4"></input>
        <span>Team A - Hero 5:</span> <input id="a5"></input>
    </div>

    <div>
        <!-- Team B -->
        <span>Team B - Hero 1:</span> <input id="b1"></input>
        <span>Team B - Hero 2:</span> <input id="b2"></input>
        <span>Team B - Hero 3:</span> <input id="b3"></input>
        <span>Team B - Hero 4:</span> <input id="b4"></input>
        <span>Team B - Hero 5:</span> <input id="b5"></input>
    </div>

    <div>
        <button type="button">Predict!</button>
    </div>

</body>
</html>